torch>=2
torchvision
tensorboard
wandb
iopath
pyyaml
numpy
opencv-python
submitit
braceexpand
webdataset
timm
transformers
peft
#decord #unsupported on macos
decord2 # Uncomment this line for macos
pandas
einops
beartype
psutil
h5py
fire
python-box
scikit-image
ftfy
jupyter
notebook==6
joblib
scikit-learn
tqdm